<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
<table>
<tr>
   <td><%= f.label :email %></td>
   <td><%= f.text_field :email %></td>
</tr>
<tr>
   <td><%= f.label :password %></td>
   <td><%= f.password_field :password %></td>
</tr>
<tr>
   <td colspan="2"><%= f.submit "Sign in" %></td>
</tr>
</table>

<% end %>


<p>New user? Contact HOT!</p>


